<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

  <div class="container card" th:fragment="card">
    <h1 th:text="${userEmail}"></h1>
    <div class="row">
      <div class="col-6">
        <img th:src="${product.imgLink}" class="img-fluid rounded" th:alt="${product.description}">
      </div>
      <div class="col-6 d-flex flex-column mb-3">
        <h3 th:text="${product.name}"></h3>
        <p th:text="${product.description}"></p>
        <ul th:each="productSize : ${product.productSizes}">
          <li>
            <a th:href="@{/product/{productId}/{productSizeId}(productId = ${product.id}, productSizeId = ${productSize.size.id})}" class="btn btn-success"  th:text="${productSize.size.value}"></a>
          </li>
        </ul>
      </div>
    </div>
    
  </div>


</html>