<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title th:text="#{home.title}"></title>
        <link rel="stylesheet" th:href="@{/css/syles.css}">
        <div th:replace="~{layout/libraries :: headers}"></div>
    </head>
    <body>
        <div class="page-container">
            <div class="content-wrap">
                <!-- Header -->
                <div th:insert="~{layout/header :: header}"></div>
    
                <nav class="m-2">
                    <!-- Button Admin -->
                    <a class="btn btn-danger" sec:authorize="hasRole('ROLE_ADMIN')"  th:href="@{/admin}" th:text="#{admin.link}"></a>
                </nav>
                
    
                <main class="container-fluid mt-3">
                    <div class="d-inline-flex flex-wrap column-gap-3">
                        <div th:each="product : ${products}" class="mb-3">
                            <a th:href="@{product/{id}(id = ${product.id})}">
                                <div class="card h-100" style="width: 18rem;">
                                    <img  th:src="${product.imgLink}"  class="card-img-top" alt="${product.description}">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${product.name}"></h5>
                                        <p th:text="${product.description}" class="card-text"></p>
                                        <p th:text="${product.category.name}" class="card-text"></p>
                                        <p th:text="${'$' + product.price}" class="card-text" ></p>
                                        
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </main>
                
                
                
                
            </div>

            <!-- Footer -->
            <div th:insert="~{layout/footer :: footer}"></div>
            
        </div>
        
        
    </body>
</html>