<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Spring Security Example</title>
	<link rel="stylesheet" th:href="@{/css/syles.css}">
	<div th:replace="~{layout/libraries :: headers}"></div>
</head>
<body>
	<!-- Header -->
	<div th:insert="~{layout/header :: header}"></div>
	
	
	<!-- Login Form -->
	<div class="container col-6 card mt-3">
		<div th:replace="~{layout/loginForm :: form}"></div>
	</div>
	

	<!-- Footer -->
	<div th:insert="~{layout/footer}"></div>

</body>
</html>